<!DOCTYPE html>
<html>
    <head>
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body  style="background-image: linear-gradient(to right bottom, #850a90, #c30052, #c44808, #9b8300, #4bac31);">

            <div class="container">
                <div>
                    <h1 class="container-fluid text-center jumbotron pt-10" style="background-color:#914e49">WELCOME TO NEWS HIGHLIGHS</h1>
                </div>
                <div class='row'>
                    <div class="col-md-4 jumbotron text-center" style="background-color:#FF6FFF">
                        <p><a href="{{url_for('Arsnews')}}" style="text-decoration-color:red">ARSE NEWS</a></p>
                    </div>

                    <div class="col-md-4">
                    </div>

                    <div class="col-md-4 jumbotron text-center" style="background-color:#FF6FFF">
                        <p><a href="{{url_for('Aust')}}">AUSTRALIAN NEWS </a></p>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 jumbotron text-center" style="background-color:#FFA6C9">
                        <p><a href="{{url_for('Axio')}}">Axio NEWS</a></p>
                    </div>
                </div>

                </div>


    </body>
</html>
